.body {
    margin: 0;
}

.App {
    min-height: 100%;
    padding: 30px;
}

.ant-layout-header {
    background-color: #17161b;
}

.ant-layout-content {
    background-color: #241d2f;
}

.ant-layout-footer {
    background-color: #17161b;
}

a:hover {
    color: white;
}

.ant-card-head {
    text-align: center;
}

.ant-layout-content {
    text-align: center;
}

.ant-tabs-nav-wrap {
    justify-content: center
}

.ant-card-small {
    height: 20vh;
}